@charset "UTF-8";

:root{
    --cond: block;
}
header img#logo{
    width: 78px;
    margin-left: 3%;
}
header img#compra{
    width: 45px;
}
header input{
    width: 100%;
    height: 45px;
}
input:focus{
    width: 79vw;
    left:59vw; /* ajustar em casa mas está relativamente bom */
}

