
@font-face {
    font-family: "Bakbak One";
    src: url(fonte/BakbakOne-Regular.ttf);
}
@media screen and (max-width:600px) {
    .inputUser{
        width: 97%;
    }
}
@media screen and (min-width:600px){
    .inputUser{
        width: 96%;
    }
}
html,body{
    box-sizing: border-box;
}
body{
    background-color:   rgb(68, 68, 68);
    font-family: "Bakbak One";
    width: 100vw;
    height: 100vh;
    position: relative;
}
legend{
    padding: 10px;
    margin: auto;
    color: #ffffff;
    font-size: 30px;
    width: 140px;
}   
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputUser{
    background: #ffffff;
    height: 30px;
    border-radius: 20px;
    box-shadow: -5px 10px #2a1247;
    border-style:none;
    margin-bottom:0.5em;
}

.cadastrar{
    height: 35px;
    width: 140px;
    font-size: 15px;
    border-radius: 10px;
    border-style:none;
    background-color: rgb(182, 175, 175);
    color: #000000;
    margin-top: 20px;
    font-family: 'Bakbak One', cursive;
}
#iestado{
    width: 18%;
    padding-right: 2%;
    margin: 0;

}
#icidade{
    width: 80%;
    padding: 0;
    margin: 0;
}

label{
    margin-right: 2px;
    color: #ffffff;
}
