/* separar certo */

@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
header{
    background-color: purple;
    position: relative;
}
header > form > div > input{
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%);
    width: 50vw;
} /* por algum motivo se juntar com o de baixo da erro */
header input{
    height: 8.3vh;
    border-radius: 22px;
    padding: 14px;
    font-size: 18px;
    border: 1px solid black;
}
img#compra{
    position: absolute;

    left: 92%;
    top: 50%;

    transform: translate(-50%,-50%);
}
img#logo{
    margin-left: 11%;
}